.preview-story {
  width: 100%;
  @include flex(column, center, center);

  &__button {
    width: 100%;
    @include flex(row, flex-end, center);

    
  }

  &__genre {
    width: 100%;
    @include flex(row, start, center);
  }

  &__title {
    width: 100%;
    @include flex(row, center, center);
    margin-bottom: 2rem;
  }

  &__emojis {
    width: 100%;
    @include flex(row, center, center);
    margin-bottom: 1rem;
  }

  &__text {
    padding: 1rem;
    width: 100%;
    background-color: $main-white;
    @include flex(row, flex-start, center);
  }
}

.preview {
  &__paragraph {
    text-align: left;
  }
}
.preview-bottom{
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #0a0a0a;
  border: none;
  padding: 0.5rem;
  background-color: #ffffff;
  padding-right: 3rem;
  color: #577074;
  border: .3px solid #c2c1c1; 
  background: rgb(2,0,36);
	position: relative; /* This protects the inner element from being blurred */
	border-radius: .5rem;
	background-color: rgba(184, 197, 197, 0.603);
  padding:.8rem 1rem .8rem 1rem;
  /* margin: 20px 10px 0px 10px;  */
	background-color: rgba(184, 197, 197, 0.603);
	box-shadow: 30px 30px 30px rgba(68,68,68,0.6);

  box-shadow: 
  inset 0px 11px 8px -10px #fff,
  
  inset 0px -11px 8px -10px #fff; 



}
