.page {
  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
    inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 30px rgba(220, 120, 0, 0.8);
  color: rgba(0, 0, 0, 0.5);
  font-family: 'AustralisProSwash-Italic';
  width: calc(8.5in - 15em);
  letter-spacing: 0.05em;
  line-height: 1.8;
  padding: 5em 10em 15em 5em;
}
.caps {
  color: rgba(0, 0, 0, 0.7);
  float: left;
  font-size: 7em;
  line-height: 60px;
  padding-right: 12px;
  position: relative;
  top: 8px;
}
.comment-style {

background-color: gray;
margin: 4rem

}
.pb-story {
  width: 100%;
  @include flex(column, center, center);
  background-color: $main-white;

  &__top {
    width: 100%;
    @include flex(column, center, center);
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__info {
    padding: 2rem;
    width: 100%;
    @include flex(row, space-between, center);
  }

  &__symbols {
    @include flex(row, space-around, center);
  }

  &__symbol {
    width: 4rem;
    @include flex(row, space-between, center);
  }

  &__text {
    width: 100%;
    @include flex(row, start, center);
  }

  &__navbar {
    @include flex(column, start, center);
    margin-top: 0.5rem;
  }

  &__title {
    @include flex(row, center, center);
  }

  &__link {
    text-decoration: none;
    font-style: none;

    &:link {
      text-decoration: none;
    }
  }

  &__emojis {
    margin-bottom: 2rem;
  }

  &__icon {
    margin-bottom: 2rem;
    cursor: pointer;
  }

  &__count {
    margin-left: 1rem;
    font-size: 2rem;
    text-decoration: none;
  }

  &__size {
    font-size: 2rem;
  }

  &__no-comment {
    height: 5rem;
    cursor: pointer;
    @include flex(row, start, center);
    margin: 2rem 0;
    width: 40%;
    border: 1.5px solid $main-black;

    &--text {
      margin-left: 2rem;
    }
  }
}
