.show-story {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $main-white;
  padding: 2.5rem;
  &__container {
    width: 80%;
    background-color: $main-white;
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 6px -2px $main-black;
  }
}
