@keyframes circle-to-square {
  from {
    width: 200px;
    height: 300px;
    background: $main-yellow-emoji;
    border: 1px $main-yellow-emoji;
    border-radius: 0%;
    transform: rotate(0deg);
  }

  to {
    width: 200px;
    height: 300px;
    border-radius: 50%;
    background: $main-yellow-emoji;
    border: 1px $main-yellow-emoji;
    transform: rotate(360deg);
  }
}

@keyframes circle-to-square {
  from {
    width: 200px;
    height: 300px;
    background: $main-red-emoji;
    border-radius: 50%;
    border: 1px $main-yellow-emoji;
    transform: rotate(360deg);
  }

  to {
    width: 200px;
    height: 300px;
    border-radius: 0%;
    border: 1px $main-red-emoji;
    background: $main-yellow-emoji;
    transform: rotate(0deg);
  }
}

@keyframes opacity-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes opacity-info {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.story-card-big {
  width: 90%;
  border-radius: 1rem;
  box-shadow: 0 8px 6px -6px $main-black;
  border: 1px solid $main-black;
  transition: 0.3s ease;
  cursor: pointer;
  margin-bottom: 2rem;
  background-color: $main-l-white;
  width: 100%;
  animation: circle-to-square 1.2s;

  animation-timing-function: linear;

  &:hover {
    box-shadow: 0 1rem 7px -5px $main-black;
  }

  &__emojis {
    @include flex(row, space-around, center);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: white;
    width: 100%;
    padding: 3rem;
    border-bottom: 1px solid $main-d-grey;
    width: 100%;
    animation: circle-to-square 1.2s;


 
    &--center {
      @include flex(row, center, center);
      width: 80%;
    }

    &--size {
      font-size: 8rem;
    }
  }

  &__info {
    padding: 1rem;
    width: 100%;

    @include flex(column, space-between, start);
    animation: opacity-info 1.2s ease-in-out;
  }

  &__story {
    margin-bottom: 1rem;
    font-size: 3rem;
    &--bold {
      @include main-font(3.5rem, 500, $main-black);
    }
    &--small {
      @include main-font(1.5rem, 300, $main-black);
    }
  }

  &__categories {
    @include flex(row, start, center);
  }

  &__box {
    border: 1px solid $main-black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: $main-white;
  }

  &__text {
    padding: 3rem;
    line-height: 1.5;
    width: 100%;
    @include flex(row, start, start);
    animation: opacity-text 3s ease-in-out;
  }

  &__footer {
    padding: 1rem;
    @include flex(row, space-between, start);
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &__read-more {
    cursor: pointer;
    margin-right: 1rem;

    &:hover {
      color: $main-d-blue;
    }
  }

  &__social {
    @include flex(row, center, center);
  }

  &__like,
  &__comments {
    padding: 0px 2rem;
  }
}
