.story-editor {
  @include flex(column, center, center);
  width: 100%;
  &__prompt {
    @include flex(column, center, center);
    width: 100%;
  }

  &__emojis {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 10rem;
  }
}

.story-options {
  width: 100%;

  &__items {
    @include flex(row, space-between, center);
    margin-bottom: 1rem;
  }
}
.story-nav {
  width: 100%;
  padding: 1rem;
  @include flex(column, center, center);

  &__form-box {
    margin-bottom: 2rem;
  }

  &__label {
    @include main-font(2rem, 300, $main-black);
    margin-left: 1rem;
   
  }
}

.story-textarea {
  width: 100%;
  height: 60vh;
}

.story-button {
  margin-top: 1rem;
  width: 100%;
  @include flex(row, flex-end, center);
}
