// .grid
// .landing-page {
//   &__header {
//     padding: 2rem;
//   }
// }

.public-stories {
  height: 100%;
  width: 100%;
  @include flex(column, center, center);

  &__sort {
    width: 100%;
    @include flex(row, flex-end, center);
    margin-bottom: 0.5rem;
  }

  &__cta {
    width: 100%;
    margin-bottom: 1rem;
  }
  &__cards {
    width: 100%;
    height: 100%;
    @include flex(column, center, center);
  }
}

.left-sidebar {
  @include flex(column, space-between, start);
  height: 30vh;

  &__footer {
    padding: 15px;
  }
}
