.side-navbar {
  margin-top: 1rem;
  background-color: $main-blue;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 150px;


  @include flex(column, space-around, start);
  &__flex {
    @include flex(column, start, start);
    height: 45px;
  }

  &__link {
    color: $main-white;
  }
}
