.top-nav {
  background-color: $main-white;
  @include flex(row, center, center);
  margin-left: 1rem;
  // padding: 5rem;
  // margin-bottom: 5rem;
  border-radius: .4rem;
 
  
}

.guest-nav {
  width: 100%;
  @include flex(row, flex-end, center);
  margin-right: 2rem;

  &__item {
    margin-left: 2rem;

    &:hover,
    &:active {
      color: $main-l-grey;
      text-decoration: none;
    }
  }
}

.user-nav {
  width: 100%;
  @include flex(row, space-between, center);

  &__user {
    @include flex(row, space-around, center);
    padding-left: 1rem;
  }

  &__loaded {
    @include flex(row, space-around, center);
    margin-left: 1rem;
  }

  &__avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: 1rem;
  }

  &__icon {
    @include flex(row, center, center);
    margin-left: 1rem;
  }

  &__options {
    @include flex(row, space-around, center);
    margin-right: 2rem;
  }

  &__item {
    margin-left: 2rem;

    &:hover,
    &:active {
      color: $main-l-grey;
      text-decoration: none;
    }
  }
}
