.user-interface {
  &__cards {
    @include flex(row, space-between, justify-content);
    padding: 40px;
    position: relative;
    top: 0;
    height: 100vh;
    background: $main-white;
    // width: 30rem;
  }
  &__icons {
    margin-left: 3rem;
  }
}

.user-card:nth-last-child(1) {
  border-right: 0;
}

.user-card {
  width: 30rem;
  border-right: 0.2rem solid $main-l-grey;

  @include flex(column, center, center);

  &__title {
    @include main-font(2rem, 500, $main-black);
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
  }

  &__btnUser {
    font-size: 2rem;
    box-shadow: 5px 10px;
    height: 4rem;
    display: flex;
    justify-content: center;
    border-style: none;
    color: $main-white;
    background: $main-l-grey;

    width: fit-content;
  }
}
