.user-interface {
  width: 100%;
  background: $main-white;
  height: 100%;

  &__cards {
    @include flex(row, center, start);
    padding: 40px;
    top: 0;
    height: 100vh;
    // width: 30rem;
  }
  &__icons {
    margin-left: 3rem;
  }
}

.user-card:nth-last-child(1) {
  border-right: 0;
}

.user-card__btnUser {
  font-size: 2rem;
  box-shadow: 5px 10px;
  height: 4rem;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  justify-content: center;
  border-style: none;
  color: #ffffff;
  background: rgb(2,0,36);
	position: relative; /* This protects the inner element from being blurred */
	
	background-color: rgb(177, 176, 176);
  padding:5rem;
  margin: 20px 40px 0px 40px; 
	background-color: rgb(177, 176, 176);
	box-shadow: 30px 30px 30px rgba(68,68,68,0.6);

  box-shadow: 
  inset 0px 11px 8px -10px #fff,
  
  inset 0px -11px 8px -10px #fff; 
  


}




.user-card {
  // width: 30rem;
  border-right: 0.2rem solid $main-l-grey;

  @include flex(column, center, center);

  &__title {
    @include main-font(2rem, 500, $main-black);
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem ;
  }

  &__btnUser {
    font-size: 2rem;
    box-shadow: 5px 10px;
    height: 4rem;
    display: flex;
    justify-content: center;
    border-style: none;
    color: $main-white;
    background: $main-l-grey;

    width: fit-content;
  }
}
