/* Error: expected "{".
 *    ,
 * 11 |   @include flex(column, space-around, end);
 *    |                                           ^
 *    '
 *   src\sass\layout\_sideNavBar.scss 11:43  @import
 *   src\sass\layout\_index.scss 2:9         @import
 *   src\sass\App.scss 5:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 11 \2502    @include flex(column, space-around, end);\d\a    \2502                                            ^\a    \2575 \a   src\\sass\\layout\\_sideNavBar.scss 11:43  @import\a   src\\sass\\layout\\_index.scss 2:9         @import\a   src\\sass\\App.scss 5:9                   root stylesheet';
}
