.emoji {
  @include flex(column, space-around, center);
  border-radius: 1rem;
  background-color: $main-l-grey;
  padding: 1.5rem;

  &__row {
    display: flex;
    justify-content: center;
  }

  &__character {
    position: relative;
    padding: 0.5rem;

    &--small {
      font-size: 4rem;
    }

    &--medium {
      font-size: 6rem;
    }

    &--large {
      font-size: 8rem;
    }

    &--x-large {
      font-size: 12rem;
    }
  }

  &__buttons {
    @include flex(row, space-between, center);
  }
}

.emoji-tooltip {
  position: absolute;
  @include flex(column, center, center);
  // border: $main-border;
  z-index: $z-front;
  background-color: $main-yellow;
  height: 5rem;
  width: 20rem;
  padding: 2rem;
  top: 50%;
  right: 0%;

  transform: translate(-50%, -50%);
  border-radius: 1rem;

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    right: -14%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $main-yellow;
    clip-path: polygon(100% 52%, 0 0, 0 100%);
  }

  &__name {
    @include main-font(1.2rem, 500, $main-black);
    padding: 1rem;
  }
}
