.emoji {
  @include flex(column, space-around, center);
  background-color: $main-white;
  padding: 1.5rem;

  border-bottom: 1px solid  $main-l-grey;
 
  border-radius: .7rem;


  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__character {
    position: relative;
    padding: 0.5rem;

    &--small {
      font-size: 2.5rem;
    }

    &--medium {
      font-size: 4.2rem;
    }

    &--large {
      font-size: 6rem;
    }

    &--x-large {
      font-size: 8rem;
    }
  }

  &__buttons {
    width: 45%;
    @include flex(row, space-between, center);
  }

  &__btn {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    color: #0a0a0a;
     
    padding: 0.5rem;

    background-color: #ffffff;
    padding-right: 3rem;
    color: #577074;
     border: .3px solid #c2c1c1; 
    background: rgb(2,0,36);
    position: relative; /* This protects the inner element from being blurred */
    border-radius: .5rem;
    background-color: rgba(184, 197, 197, 0.603);
    padding:.8rem 1rem .8rem 1rem;
    /* margin: 20px 10px 0px 10px;  */
    background-color: rgba(184, 197, 197, 0.603);
    box-shadow: 30px 30px 30px rgba(68,68,68,0.6);
  
    box-shadow: 
    inset 0px 11px 8px -10px #fff,
    
    inset 0px -11px 8px -10px #fff; 
   

  }
}

.emoji-tooltip {
  position: absolute;
  @include flex(column, center, center);
  // border: $main-border;
  z-index: $z-front;
  background-color: $main-yellow;
  height: 5rem;
  width: 20rem;
  padding: 2rem;
  top: 50%;
  right: 0%;

  transform: translate(-50%, -50%);
  border-radius: 1rem;

  &::after {
    position: absolute;
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    right: -14%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $main-yellow;
    clip-path: polygon(100% 52%, 0 0, 0 100%);
  }

  &__name {
    @include main-font(1.2rem, 500, $main-black);
    padding: 1rem;
  }
}
