.PublicStories {
    display: grid;
    height: 88vh;
    
    grid-template: auto 1fr auto / 1fr 3fr 2fr
  }
  .emojisTag {
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
   
     
  }
  .Tag {
    font-size: 2.5em;
    border-radius: 40px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 15px white;
    padding: 10px;
    margin: 0 10px;
  }
  
  .header-publicStories {
    
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  .left-sidebar {
  
    grid-column: 1 / 2;
  }
  
  .main-publicStories {
    grid-column: 2 / 3;
    background-color: #f5f5f5;
  }
  
  .right-sidebar {
    
    grid-column: 3 / 4;
  }
  
  .left-sidebar,
  .right-sidebar,
  .main-publicStories{
    padding: 1rem;
  }

  .mainStories {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border-radius: 25px;
    border: 1px solid white;
    box-shadow: 10px 10px 15px silver;
    padding: 10px 5px 0px 10px;
    background-color: rgb(250, 249, 247);
    /* background-color: rgb(215, 208, 195); */
   /*  background-color: rgb(171, 164, 164); */
    /* transition: 300ms; */
  }

/*   .mainStories:hover {
    transform: scale(1.01);
    transition: 300ms;
  
} */
  .infoContainer {
    display: flex;
    justify-content: space-around;
    padding: 15px 10px 0px 10px;

  }
  .title_Author {
    min-width: 55%;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    justify-content: space-between;
    color: rgb(84, 79, 79);
  }
  .author,
 .genre,
 .datePublicStory,
 .readMore {
  /* border: 1px solid rgb(126, 122, 122); */
  border-radius: 15px;
  /* box-shadow: 2px 2px 2px rgb(70, 67, 67); */
  padding: 1px 10px;
  font-size: 0.9em;
  color: rgb(70, 66, 66);
  font-weight: 600;
  background-color: rgb(159, 233, 137);
 }

