@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(120deg) scale(0.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

<<<<<<< HEAD

=======
@keyframes climb {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-90px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(-140px);
    opacity: 0;
  }
}
>>>>>>> d21ced7252cb5a970365b2753357949cf3a836cc
