.Horror {
  background-color: #051b11;
}

.Thriller {
  background-color: #041733;
}

.Fantasy {
  background-color: #6610f2;
}

.Mystery {
  background-color: #198754;
}

.Romance {
  background-color: #dc3545;
}

.SciFi {
  background-color: #332805;
}

.Western {
  background-color: #ffc107;
}
